.movie_detail_page{
    width:100%;
    height:100%;
    background-color:black;
}
.container {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: black;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  .banner {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    position: absolute;
    bottom: 0;
    padding: 2rem;
    width: 100%;
  }
  
  .bannerTitle {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
  .bannerMeta {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .starIcon {
    color: gold;
  }
  
  .content {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    margin: 2rem;
  }
  
  .poster {
    width: 250px;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  }
  .video{
    width:700px;
  }
  
  .details {
    display:flex;
    flex: 1;
    justify-content: space-between;
    gap:20px;
  }
  .info h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
  }
  .info p{
    font-size: 1.2rem;

  }
  
  .genre {
    font-style: italic;
    color: #ccc;
  }
  
  .description {
    margin-top: 1rem;
    line-height: 1.6;
  }
  
  .cast {
    margin: 2rem;
  }
  
  .cast h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    border-left: 4px solid red;
    padding-left: 1rem;
  }
  
  .cast_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1.5rem;
  }
  
  .cast_member {
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .cast_member:hover {
    transform: scale(1.05);
  }
  
  .cast_image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 2px solid #fff;
  }
  
  .cast_name {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  