.recommend_container{
    height:100vh;
    width:100%;
    background-color: black;;
}
.movie_card {
    position: relative;
    height:250px;
    max-width:300px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
  }
  
  .movie_card:hover {
    transform: scale(1.03);
  }
  
  .movie_poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
  }
  
  /* Floating Plus Button */
  .add_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: white;
    padding: 8px;
    z-index: 2;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .add_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .movie_info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
  }
  
  .top_info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    opacity: 0.9;
    color:rgb(250, 0, 0);
  }
  
  .movie_rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .star_icon {
    color: gold;
  }
  
  
  .movie_title {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    border-radius: 6px;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  
  .movie_card:hover .movie_title {
    transform: translateY(0);
    opacity: 1;
  }
  .movie_grid{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content: left;
    padding:20px;
  }